.kitchen-accept-order-container {
    background-color: #252836;
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.kitchen-accept-order-content{
    padding: 20px;
    font-family: 'Kanit', sans-serif;
    border-radius: 30px;
    margin-top: 33px;
    height: 500px;
    width: 500px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.order-li {
    display: flex;
    margin-bottom: 10px;
}
.order-li p {
    width: 50%;
}
.btn-cancel {
    margin-left: 20%;
    background: #FF5959;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    
}
.btn-accept {
    margin-left: 20%;
    background: #4CD094;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.btn-confirm {
    background: #4CD094;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    height: 50px;

}