
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200;1,300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    
}
h1 {
    font-weight: bolder;
}
.des {
    font-size: 10px;
}
.ROOT_CSS {
    height: 400px;
    width: 100%;
}

.cart {
    padding-top: 45px;
    margin-right: 5%;
    margin-left: 50%;
    text-align: right;
    
}

.cart-btn {
    width: 119px;
    height: 51px;
    left: 298px;
    top: 81px;
    border: none;
    background: #FFC700;
    border-radius: 37.5px;
    font-size: 16px;
    cursor: pointer;

}
.cart-container {
    margin-top: 50px;
    margin-bottom: 500px;
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;
}
.menu-name {
    font-size: 16px;
}
.ma-type {
    color: white;
    background-color: #084594;
    border-radius: 4px;
    width: 120px;
    border: none;
}

.br-type {
    color: white;
    background-color: #FFD32D;
    border-radius: 4px;
    width: 120px;
    border: none;
}

.sa-type {
    color: white;
    background-color: #008E89;
    border-radius: 4px;
    width: 120px;
    border: none;
}

.bu-type {
    color: white;
    background-color: #085E7D;
    border-radius: 4px;
    width: 120px;
    border: none;
}

.st-type {
    color: white;
    background-color: #603601;
    border-radius: 4px;
    width: 120px;
    border: none;
}

.de-type {
    color: white;
    background-color: #FF7BA9;
    border-radius: 4px;
    width: 120px;
    border: none;
}

.btn-order {
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
}
.menu-pic {
    border-radius: 20px;
    height: 100px;
    
}
.w-0 {
    width: 30% !important;
    text-align: right;
    
}
.btn-add {
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #FFC700;
    height: 40px;
    width: 100px;
    border-radius: 40px;
    box-shadow: 3px 3px 5px rgb(94, 104, 121, .288);
}
.btn-added {
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #F55353;
    height: 40px;
    width: 100px;
    border-radius: 40px;
    box-shadow: 3px 3px 5px rgb(94, 104, 121, .288);
}

.cart-logo {
    font-size: 24px;
    
}
.nav-pills .nav-link.active{
    color: black;
    
    background-color: #F4F4F4;
    font-weight: bold;
}
.nav-pills .nav-link {
    color: #FFC700;
    font-weight: bold;
    
}

.nav {
    margin: 0 auto;
    width:80%;
}
.table {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 auto;
    width: 80%;
    background-color: #F4F4F4;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}