@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap');
.order-content {
    font-family: 'Kanit', sans-serif;
    border-radius: 30px;
    margin-top: 33px;
    height: 600px;
    width: 100%;
    background-color: #4F546C;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.order-content h1 {
    color: aliceblue;
}
.tablee {
    font-family: 'Kanit', sans-serif;
    padding: 200px;
    border-radius: 20px;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-color: #C4C4C4;
}
.orderr-content {
    font-family: 'Kanit', sans-serif;
    border-radius: 30px;
    margin-top: 33px;
    width: 100%;
    background-color: #4F546C;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.orderr-content h1 {
    color: aliceblue;
}
.bottom-pay {
    margin-top: 10px;
    padding: 20px;
    
    width: 100%;
    border-radius: 20px;
    background-color: white;
    display: flex;
}
.sumdivdiv p{
    font-family: 'Kanit', sans-serif;
}
.sumdivdiv p1{
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
}
.payment {
    margin-left: 50%;
}